extends layout

block content
  link(href='https://fonts.googleapis.com/css?family=Della+Respira|Quattrocento|Halant:400,300|David+Libre|Roboto+Condensed|Raleway', rel='stylesheet', type='text/css')
  input(type="hidden" id="controls" value="#{controls}")
  input(type="hidden" id="skipWait" value="#{skipWait}")
  canvas#gamestage
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/discoverables.js')
  script(src='/javascripts/goal.js')
  script(src='/javascripts/map.js')
  script(src='/javascripts/hero.js')
  script(src='/javascripts/scorecard.js')
  script(src='/javascripts/getReadyStage.js')
  script(src='/javascripts/stage.js')
  script(src='/javascripts/timebox.js')
  div(id="goal")

  div(id="getReady")
    div(class="field")
        img(src="/images/Sports-Finish-Flag-icon.png", height="50px")
        p(id="description")
    div(class="field")
        p(id="getReadyText")
        p(id="secondsText")
    div(class="field")
        p(id="hint")

  div(id="scorecard")
    h2(id="title")
    h3(id="header")
    h2(id="achieved")
    p(id="score")
    div(class="field")
        p(id="timebox")
        div(class="backarea")
            div(class="frontarea",id="timeboxarea")
    div(class="field")
        p(id="explored")
        div(class="backarea")
            div(class="frontarea",id="exploredarea")
    div(class="field")
        p(id="bugs")
    div(class="field")
        p(id="features")