extends layout

block content

  canvas#gamestage
  script(src='http://code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/goal.js')
  script(src='/javascripts/map.js')
  script(src='/javascripts/hero.js')
  script(src='/javascripts/stage.js')
  script(src='/javascripts/timebox.js')
